*{
 padding: 0px;
 margin: 0px;
 font-family: Century Gothic; 
}

body{
	background-color: #F9EC1B; 

}

form{
	width: 700px;
	margin: auto;
	background-color:#1B58F9; 
}

input{
	margin: 12px;
	padding: 8px;
	width: 660px;
	border: none;
}

textarea{
	font-size: 18px;
	margin: 15px;
	padding: 10px;
	min-width: 660px;
	min-height: 100px;
	max-height: 300px;
	border: none;

}



